In [1]:
import pandas as pd

In [7]:
df=pd.read_csv("data/default of credit card clients data.csv")

In [8]:
df.columns

Index(['ID_a', 'ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE',
       'PAY_0', 'PAY_2', 'PAY_4', 'BILL_AMT1', 'PAY_AMT1', 'PAY_AMT2',
       'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default_payment_next_month'],
      dtype='object')

In [9]:
df.head()

,ID_a,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_4,BILL_AMT1,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment_next_month
0,0,1,20000,2,2,1,24,2,2,-1,3913,0,689,0,0,0,0,1
1,1,2,120000,2,2,2,26,-1,2,0,2682,0,1000,1000,1000,0,2000,1
2,2,3,90000,2,2,2,34,0,0,0,29239,1518,1500,1000,1000,1000,5000,0
3,3,4,50000,2,2,1,37,0,0,0,46990,2000,2019,1200,1100,1069,1000,0
4,4,5,50000,1,2,1,57,-1,0,0,8617,2000,36681,10000,9000,689,679,0

In [10]:
df=df.drop(labels=['ID_a','ID'],axis=1)

In [11]:
## Independent and dependent features
X=df.drop(labels=["default_payment_next_month"],axis=1)
Y=df["default_payment_next_month"]

In [12]:
# Define which columns should be onehot-encoded and which should be scaled
numerical_cols=["LIMIT_BAL","AGE","BILL_AMT1","PAY_AMT1","PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6"]
categor_cols=["SEX","EDUCATION","MARRIAGE","PAY_0","PAY_2","PAY_4"]

In [84]:
##converting integer column to object
df["SEX"]=df["SEX"].astype("str")
df["EDUCATION"]=df["EDUCATION"].astype("str")
df["MARRIAGE"]=df["MARRIAGE"].astype("str")
df["PAY_0"]=df["PAY_0"].astype("str")
df["PAY_2"]=df["PAY_2"].astype("str")
df["PAY_4"]=df["PAY_4"].astype("str")

In [13]:
#defining onehot encoder variable
sex_cat=['1', '2']
education_cat=["0","1","2","3","4","5","6"]
marriage_cat=["0","1","2","3"]
pay0_cat=["-2","-1","0","1","2","3","4","5","6","7","8"]
pay2_cat=["-2","-1","0","1","2","3","4","5","6","7","8"]
pay4_cat=["-2","-1","0","1","2","3","4","5","6","7","8"]

In [18]:
##importing library
import pandas as pd
import numpy as np
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import log_loss

from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OneHotEncoder # One hot encoding Encoding
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [15]:
## Numerical Pipeline
num_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='mean')),
    ('scaler',StandardScaler())

    ]

)
#Categorical onehote encoder pipeline
cat_onehot_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='most_frequent')),
    ("onehotencoder",OneHotEncoder(categories=[sex_cat,education_cat,marriage_cat,pay0_cat,pay2_cat,pay4_cat],sparse=False)),
    ("scaler",StandardScaler())
    ]

)



preprocessor=ColumnTransformer([
('num_pipeline',num_pipeline,numerical_cols),
("cat_onehot_pipeline",cat_onehot_pipeline,categor_cols)

])

In [16]:
##train test data splitting

X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30,random_state=30)

In [17]:
##fitting and tranforming train and test data
X_train=pd.DataFrame(preprocessor.fit_transform(X_train))
X_test=pd.DataFrame(preprocessor.transform(X_test))
X_train.head()

g:\practice\ooiuhjk\project-default-credit-card\venv\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,-1.139003,-1.031921,-0.671877,-0.259967,-0.219680,-0.284034,-0.262225,-0.169920,-0.289958,1.231086,...,2.075344,-1.103311,-0.006901,-0.341736,-0.079835,-0.046341,-0.033826,-0.011953,-0.042012,-0.006901
1,-0.138540,0.599775,-0.693935,-0.333370,-0.166585,0.008592,-0.313948,-0.305063,-0.289958,1.231086,...,2.075344,-1.103311,-0.006901,-0.341736,-0.079835,-0.046341,-0.033826,-0.011953,-0.042012,-0.006901
2,0.631048,-0.705581,0.989112,0.010071,-0.060316,-0.284034,0.080871,-0.057618,-0.021965,-0.812291,...,-0.481848,-1.103311,-0.006901,2.926233,-0.079835,-0.046341,-0.033826,-0.011953,-0.042012,-0.006901
3,1.477594,0.382216,-0.691242,-0.333370,-0.237431,-0.284034,-0.268127,0.140338,-0.289958,1.231086,...,-0.481848,-1.103311,-0.006901,-0.341736,-0.079835,-0.046341,-0.033826,-0.011953,-0.042012,-0.006901
4,0.861924,0.926114,1.462959,0.121951,-0.059174,-0.055687,-0.028477,-0.038076,-0.067667,1.231086,...,-0.481848,0.906363,-0.006901,-0.341736,-0.079835,-0.046341,-0.033826,-0.011953,-0.042012,-0.006901

In [19]:
##defining function for accuracy check
import numpy as np
def evaluate_model(true, predicted):
    acc_score = accuracy_score(true, predicted)
    logloss=log_loss(true,predicted)
    report=classification_report(true, predicted, digits=3)
    confuse_matrix = confusion_matrix(true, predicted)
    return acc_score,logloss,report,confuse_matrix

In [20]:
## Train multiple models
models={
    'LogisticRegression':LogisticRegression(penalty='none',random_state=0),
    'Lasso':LogisticRegression(penalty='l1', solver='liblinear',random_state=0),
    'Ridge':LogisticRegression(penalty='l2', solver='liblinear',random_state=0),
    'Elasticnet':LogisticRegression(penalty='elasticnet', solver='saga',l1_ratio=0.5,random_state=0)
}
trained_model_list=[]
model_list=[]
accuracy_score_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    acc_score,logloss,report,confuse_matrix=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("accuracy_score:",acc_score)
    print("log loss value:",logloss)
    print("report of classification:","\n",
          report)
    print("confusion_matrix:","\n",
          confuse_matrix)
    

    accuracy_score_list.append(acc_score)
    
    print('='*35)
    print('\n')

g:\practice\ooiuhjk\project-default-credit-card\venv\lib\site-packages\sklearn\linear_model\_logistic.py:1173: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(

LogisticRegression
Model Training Performance
accuracy_score: 0.8196666666666667
log loss value: 6.499872161170794
report of classification:
               precision    recall  f1-score   support

           0      0.843     0.946     0.892      7064
           1      0.646     0.358     0.461      1936

    accuracy                          0.820      9000
   macro avg      0.744     0.652     0.676      9000
weighted avg      0.801     0.820     0.799      9000

confusion_matrix:
 [[6683  381]
 [1242  694]]
===================================


Lasso
Model Training Performance
accuracy_score: 0.8196666666666667
log loss value: 6.499872161170794
report of classification:
               precision    recall  f1-score   support

           0      0.843     0.946     0.892      7064
           1      0.646     0.358     0.461      1936

    accuracy                          0.820      9000
   macro avg      0.744     0.652     0.676      9000
weighted avg      0.801     0.820     0.799      9000

confusion_matrix:
 [[6683  381]
 [1242  694]]
===================================


Ridge
Model Training Performance
accuracy_score: 0.8196666666666667
log loss value: 6.499872161170794
report of classification:
               precision    recall  f1-score   support

           0      0.843     0.946     0.892      7064
           1      0.646     0.358     0.461      1936

    accuracy                          0.820      9000
   macro avg      0.744     0.652     0.676      9000
weighted avg      0.801     0.820     0.799      9000

confusion_matrix:
 [[6683  381]
 [1242  694]]
===================================


Elasticnet
Model Training Performance
accuracy_score: 0.8195555555555556
log loss value: 6.503877011547362
report of classification:
               precision    recall  f1-score   support

           0      0.843     0.946     0.892      7064
           1      0.645     0.358     0.461      1936

    accuracy                          0.820      9000
   macro avg      0.744     0.652     0.676      9000
weighted avg      0.801     0.820     0.799      9000

confusion_matrix:
 [[6682  382]
 [1242  694]]
===================================

g:\practice\ooiuhjk\project-default-credit-card\venv\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(